{% extends 'base.html.twig' %}

{% block body %}

        <ul class="list-group">
            <li class="list-group-item">Le titre est :  {{pfe.title}}</li>
            <li class="list-group-item">L'étudiant est : {{pfe.student}}</li>
            <li class="list-group-item">L'entreprise  est : {{pfe.entreprise}}</li>
        </ul>


{% endblock %}

{% block title %}

{% endblock %}

