{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-info">Nombre de pfe par entreprise</div>
    <div class="row">

    {% for entreprise in entreprises%}


        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Carte</div>

            <div class="card-body">
                <h5 class="card-title">{{entreprise.designation}}</h5>
                <p class="card-text">{{entreprise.pFEs | length}}</p>

            </div>
        </div>

    {%endfor%}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

